NEW POST

<form action="<%= posts_url %>" method="POST">
    <%= authenticity %>
    <input type="hidden" name="post[author_id]" value="<%= current_user.id %>">
    <label for="title">Title:
        <input type="text" name="post[title]" id="title">
    </label>
    <br>
    <label for="url">URL:
        <input type="text" name="post[url]" id="url">
    </label>

    <label for="content">Content:
        <textarea name="post[content]" id="content" cols="30" rows="10"></textarea>
    </label>
    
    <% Sub.all.each do |sub| %>
        <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>" id="sub"><%= sub.title %>
    <% end %>

    <input type="submit" value="Make new Post">
</form>